.container{
  background-color: #150b3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color: azure;
  font-size: 30px;
  justify-content: center;
  font-family: "roboto";
  padding: 10px;
  margin: 10px;

}
.heading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  height: 40px;
  width: 120px;
  border: 1px solid #c7d2fe;
  padding: 10px;
  margin: 10px;
}